@charset "UTF-8";
/**
 * Castle-RV
 * Author: ohmyga
 * Github: https://github.com/ohmyga233/
 **/
 

body {
	font-family: Roboto,Noto,Helvetica,Arial,sans-serif!important
}


.moe-margin {
	margin-top: 30px
}

.moe-pic {
	max-width: 95%;
	margin: 10px auto;
	margin-top: 20px;
	border-radius: 5px;
	display: block!important
}

.moe-pic-a {
	transition: all .6s ease
}

.moe-card {
	width: 800px;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto
}

.moe-card-content {
	padding: 16px;
	padding-top: 0;
	padding-bottom: 0
}

.moe-card-content a {
	outline: 0;
	color: #f50057;
	text-decoration: none
}

.moe-card-content a:hover {
	color: #ff4081;
	transition: all .18s ease;
	text-shadow: 0 1px 2px #ff4081
}

.moe-card-actions {
	color: #616161;
	font-size: 15px!important
}

.moe-card-menu {
	top: 0!important;
	right: 0!important;
	font-size: 14px!important
}

@keyframes moecarda {
	0% {
		opacity: 0
	}

	10% {
		opacity: .1
	}

	20% {
		opacity: .2
	}

	30% {
		opacity: .3
	}

	40% {
		opacity: .4
	}

	50% {
		opacity: .5
	}

	60% {
		opacity: .6
	}

	70% {
		opacity: .7
	}

	80% {
		opacity: .8
	}

	90% {
		opacity: .9
	}

	100% {
		opacity: 1
	}
}

@-webkit-keyframes moecarda {
	0% {
		opacity: 0
	}

	10% {
		opacity: .1
	}

	20% {
		opacity: .2
	}

	30% {
		opacity: .3
	}

	40% {
		opacity: .4
	}

	50% {
		opacity: .5
	}

	60% {
		opacity: .6
	}

	70% {
		opacity: .7
	}

	80% {
		opacity: .8
	}

	90% {
		opacity: .9
	}

	100% {
		opacity: 1
	}
}

.moe-card-a:nth-child(1) {
	animation: moecarda;
	animation-duration: .1s;
	-webkit-animation: moecarda .1s
}

.moe-card-a:nth-child(2) {
	animation: moecarda;
	animation-duration: .2s;
	-webkit-animation: moecarda .2s
}

.moe-card-a:nth-child(3) {
	animation: moecarda;
	animation-duration: .3s;
	-webkit-animation: moecarda .3s
}

.moe-card-a:nth-child(4) {
	animation: moecarda;
	animation-duration: .4s;
	-webkit-animation: moecarda .4s
}

.moe-card-a:nth-child(5) {
	animation: moecarda;
	animation-duration: .5s;
	-webkit-animation: moecarda .5s
}

.moe-card-a:nth-child(6) {
	animation: moecarda;
	animation-duration: .6s;
	-webkit-animation: moecarda .6s
}

.moe-bangumi-card {
	margin-top: 15px
}

.moe-bangumi-href {
	text-decoration: none
}

.moe-bangumi-img {
	width: 100%;
	height: 245px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%
}

.moe-bangumi-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

html::-webkit-scrollbar-track-piece {
	background: rgba(0,0,0,0)
}

html::-webkit-scrollbar {
	width: 6px;
	height: 6px
}

html::-webkit-scrollbar-thumb {
	height: 40px;
	border-radius: 4px;
	background-color: rgba(165,165,165,1)
}

html::-webkit-scrollbar-thumb:hover {
	background-color: #bbb
}

/**
 * Bangumi
 * https://blog.tysv.top/
 **/
.bangumi-item {
	padding-top: 0;
	padding-bottom: 0;
	border: none;
}

.bangumi-link {
	padding: 12px;
	border: none
}

.bangumi-banner {
	position: relative;
	overflow: hidden
}

.bangumi-banner img {
	display: block;
	margin: 12px auto;
	border-radius: 3px;
	border-style: none;
	max-width: 100%;
	min-height: 230px;
	width: 100%;
	height: auto
}

.bangumi-des {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,0.8);
	padding: 6px;
	opacity: 0;
	transition: .3s;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	overflow: auto
}

.bangumi-des p {
	margin: 0;
	font-size:12px
}

.bangumi-banner:hover .bangumi-des {
	opacity: 1
}

.bangumi-title {
	border: none!important;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display:block
}

.mdui-float-right {
	font-size:10px
}